<%- include('include/_frontheader') %>

<title>Node Authentication</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<style>
a{
    height:40px;
    width:200px;
    
}
</style>
</head>
<section>
<body>
<br><br>
<div class="container">

<div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Google Authentication</h1>

    <p>Login or Register with:</p>

    <a href="/google" class="btn btn-danger"><p><span class="fa fa-google-plus"></span>Google</p></a>

</div>
</div>
</section>
<style>

section{
    position: absolute;
    height:100%;
    width:100%;
    background: url('coffe.jpg');
    background-size: cover;
    background-position:center ;
   
}

</style>
<%- include('include/_footer') %>