
<%- include('include/_newheader') %>

<style>
button{
    border: none;
  color: red;
  padding: 15px 32px;


  
}

</style>

<br>
<br>
<h1>
    Email has been sent</h1>

    <br>

    <h1>For sending notifications</h1>

    <br>
    <a href="/notifications" >Click me only</a>
    <br>
    <br>
    <br>

    <a href="/sms">Click here for messages</a>
    